body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}

.nav a {
  color: turquoise;
}

.card-timer {
  color: turquoise;
  text-align: center;
  
}

.section {
  padding-top: 200px;
  color: turquoise;
  display: flex;
  margin: 0 auto;
  text-align: center;
  max-width: 30%;
}